# Ignore the target directory (Rust build artifacts)
target/
tests/

# Ignore temporary files and caches
**/*.rs.bk
**/*.swp
**/*.swo
**/*.bak
**/*.tmp

# Ignore Git repository files
.git/
.gitignore

# Ignore editor and IDE files
.vscode/
.idea/
*.iml

# Ignore logs and environment files
log/
*.log
.env
